<!DOCTYPE html>
<html>
	<head>
		<title>Secret Sharing</title>
		<script src={{ url_for('static', filename='validate.js') }} async></script>
	</head>

	<body>
		<h1>Secret Sharing</h1>
		<form name="encode" id="encode" method="post" action={{ url_for('encode.show_results') }}>
			<label for="shares">Number of shares:</label><br>
			<input type="text" id="shares" name="shares"><br>
			<label for="keys_required">Number of shares needed to decode:</label><br>
			<input type="text" id="keys_required" name="keys_required"><br>
			<label for="secret">Secret to encode:</label><br>
			<input type="text" id="secret" name="secret"><br>
			<input type="submit" value="Submit">
		</form>
		<div class="errmsg" id="input_error"></div>

		{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
		{% endfor %}
	</body>
</html> 
