<!DOCTYPE html>
<html>
	<head>
		<title>Secret Sharing</title>
		<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
		<script src={{ url_for('static', filename='validate_encoder.js') }} async></script>
	</head>

	<body>
		<h1>Secret Sharing</h1>
		<p class="intro-p">This calculator implements Shamir's secret sharing. It takes integers <span class=symbol>n</span>
		and <span class=symbol>k</span> (where <span class=symbol>n</span>>=<span class=symbol>k</span>) and an integer secret, then produces <span class=symbol>n</span> shares such that any <span class=symbol>k</span> of them may be combined to reveal the secret, but it is impossible for any fewer number of shares to do so. The full concept is described <a href="https://www.cs.jhu.edu/~sdoshi/crypto/papers/shamirturing.pdf">here</a>.
		</p>
		<form name="encode" id="encode" method="post" action={{ url_for('encode.show_results') }}>
			<div class="input_labels">
				<label for="shares">Number of shares:</label>
				<label for="keys_required">Number of shares needed to decode:</label>
				<label for="secret">Secret to encode:</label>
			</div>
			<div class="input_boxes">
				<input type="number" min=1 id="shares" name="shares">
				<input type="number" min=1 id="keys_required" name="keys_required">
				<input type="number" min=0 id="secret" name="secret">
			</div>
			<input type="submit" value="Submit">
		</form>
		<div class="errmsg" id="input_error"></div>

		<p class=other-pages>If you already have shares or points, you can interpolate them with the <a href={{ url_for('interp.interpolate') }}>interpolation calculator</a>.</p>

		{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
		{% endfor %}
	</body>
</html> 
