h1 {
	border-style: double;
	font-family: monospace;
	font-size: 30px;
	text-align: center;
	border: 2px solid black;
	outline: #7CAAAF double 10px;
	margin-bottom: 50px;
	padding: 5px;
}

body {
	background-color: #e7f1f2;
	margin: 20px 20px 20px 20px;
}

p {
	font-family: monospace;
}

p.other-pages {
	font-size: 18px;
	margin-top: 10px;
}

p.intro-p {
	text-align: center;
	font-size: 20px;
	margin-bottom: 50px;
	border-style: dotted;
	border-width: 2px;
	padding: 15px;
}

p.exp-p {
	font-size: 18px;
}

form {
	margin: 0px;
}

form label {
	font-family: monospace;
	font-size: 20px;
}

form input[type=number] {
	line-height: 2em;
}

form [type=submit] {
	font-weight: bold;
	text-decoration: underline;
	font-size: 16px;
	display: block;
}

form div.input_labels {
	float: left;
	margin-right: 30px;
}

form div.input_labels label {
	display: block;
}

form div.input_boxes input {
	display: block;
}

span.symbol {
	font-style: italic;
	font-weight: bold;
}

div.flash, div.errmsg {
	padding: 10px 0px 10px 2px;
	text-decoration: underline;
	color: red;
}

div.errmsg {
	font-size: 18px;
}


div.flash {
	font-size: 22px;
}

div.scrollable {
	overflow-x: auto;
}

table {
	white-space: nowrap;
}

table tr {
	border: solid;
}

table td {
	border: solid;
}

table div.cell-content {
	color: transparent;
	font-size: 22px;
}

table div.cell-content:hover {
	color: black;
}
